.block {
  position: relative;
  display: flex;
  align-items: flex-start;
  border-radius: 25px;
  background: #FFFFFF;
  word-break: break-word;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.1);
  width: 345px;
  padding-right: 16px;
  padding-left: 16px;

  &.with-image {
    .image-wrapper {
      margin-right: 8px;
      padding-top: 16px;
      padding-bottom: 16px;

      img {
        width: 59px;
        object-fit: cover;
        border-radius: 13px;
      }
    }

    &.center-text {
      align-items: center;
    }
  }

  .text {
    flex: 1;

    &.single-line {
      padding-top: 24px;
      padding-bottom: 24px;
    }

    &.multi-line {
      padding-top: 16px;
      padding-bottom: 16px;
    }

    .text-content {
      display: inline;
    }
  }

  .right-col {
    position: absolute;
    top: 10px;
    right: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    height: calc(100% - 20px);

    .menu-btn {
      cursor: pointer;
    }

    .indicator {
      min-width: 22px;
      height: 22px;
      border: 0.5px solid #B4B4B4;
      color: #B4B4B4;
      border-radius: 999px;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 6px;
      white-space: nowrap;
            transition: transform 0.15s ease, margin 0.15s ease;


      &.new-block {
        color: #FFFFFF;
        background: linear-gradient(239.93deg, #3FCCFF -26.89%, #068DFB 70.78%);
        box-shadow: 0px 1px 5.3px 0px rgba(20, 157, 255, 0.21);
        border: none;
        text-align: center;
      }
    }
  }

  &.indicator-below {
    padding-bottom: 19px;
  }
}
